* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(80,80,80);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: rgb(50,200,200);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
    transition: all 0.5s;
}

button:hover {
    background-color: rgb(10,130,130);
}